body,
html {
  min-height: 100vh;
  background: rgba(black, 0.5);
}
h2 {
  font-size: 4rem;
}
.App {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
p {
  color: #eee;
}
.container-fluid { 
  position: relative;
}
.animated-form {
  font-family: 'Advent Pro', Arial;
  // margin: 0 100px;
}